<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air Quality</title>
    {{ bootstrap.load_css() }}
  </head>
  <body>
    <div class="container">
      <h1 class="mt-4">Air Quality</h1>
      {% if data %}
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">{{ data['OZONE'] }} AQI</h2>
            <h1 class="card-text">{{ data['AQI'] }}</h1>
            <p class="card-text">Last updated: {{ data['updatedAt'] }}</p>
          </div>
        </div>
      {% else %}
        <p>No data available</p>
      {% endif %}
    </div>
  </body>
</html>