<!DOCTYPE html>
<html>
  <head>
    <title>Earthquake Search</title>
    <!-- <link href="../static/css/style.css" rel ="stylesheet" type = "text/css"/> -->
    <link href="../static/css/Earthquake.css" rel="stylesheet" type="text/css" />

    <!-- GitHub link to project: https://github.com/alopezCSUMB/CST205_Final_Project.git -->
  </head>
  <body>

    <a href="{{ url_for('home') }}"><button type="button" class="backbutton">Back Home</button></a>

    
    <div class = "mag"> 
      <h1> Welcome to Earthquake Magnitude Search!</h1>
    <form action="/earthquakes" method="GET" class = "form">
    </form>
  </div>
    <div> 
      <!-- This loop iterates over the indices of the cities list
       using the range() function combined with the length filter. This loop allows 
       iterating over each city and magnitude pair. Then the code will display cities and maginitudes-->
    {% if cities %}
      <h2 class="result">Search Results</h2>
      <table>
        <tr>
          <th>City</th>
          <th>Magnitude</th>
        </tr>
        {% for index in range(cities|length) %}
          <tr>
            <td>{{ cities[index] }}</td>
            <td>{{ magnitudes[index] }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
  </div>
    
  </body>
</html>