<!DOCTYPE html>
<html>
  <head>
    <title>Earthquake Search</title>
    <link href="../static/css/style.css" rel ="stylesheet" type = "text/css"/>
  </head>
  <body>

    <a href="{{ url_for('home') }}"><button type="button" class="btn btn-dark">Back Home</button></a>
    <br><br>
    <h1>Earthquakes</h1>

<!-- Add user input -->
<!-- magnitude -->
<!--  -->

<!-- Ge user input code -->
<form class="userinput" method="GET" action="/earthquakes">
  <h4>Search for earthquake magnitude</h4>
  <input type="text" placeholder="Search for magnitude">
  <button type="button" class="btn btn-primary">search</button>
 
</form>

    
      {% for earthquake in earthquakes %}
      <div class ="card"> 
      <li>Location: {{ earthquake.place }}, Magnitude: {{ earthquake.magnitude }}</li>
    </div>
      {% endfor %}
  

  </body>
</html>
