<!DOCTYPE html>
<html>
  <head>
    <title>Earthquake Search</title>
    <!-- <link href="../static/css/style.css" rel ="stylesheet" type = "text/css"/> -->
    {{bootstrap.load_css()}}
    <link
      href="../static/css/Earthquake.css"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      body {
        margin-left: 10vw;
        margin-right: 10vw;
        background: #84c6e0; 
        margin-top: 5vh; 
      }
    </style>
  </head>
  <body>
    <div style="margin-left: -5vw">
      <!-- used url_for for back button, take back to home page -->
      <a href="{{ url_for('home') }}"
        ><button type="button" class="backbutton">Back Home</button></a
      >
    </div>
    <div class="mag">
      <!-- Title of homepage -->
      <h1>Welcome to Earthquake Magnitude Search!</h1>
      <form action="/earthquakes" method="GET" class="form"></form>
    </div>
    <!--  -->
    <div>
      <!-- Loop through cities and magnitudes to generate table rows -->
      {% if cities %}
      <h2 class="result">Search Results</h2>
      <table>
        <tr>
          <th>City</th>
          <th>Magnitude</th>
        </tr>
        {% for index in range(cities|length) %}
        <tr>
          <td>{{ cities[index] }}</td>
          <td>{{ magnitudes[index] }}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}
    </div>
  </body>
</html>
