<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{bootstrap.load_css()}}
    <style>
      .weather-background {
        background-image: url("https://openweathermap.org/img/wn/{{forecastinfo['weather'][0]['icon'] }}@2x.png");
        background-repeat: repeat;
        background-size: 100px;
        width: 100vw;
        height: 100vh;
        z-index: -2;
        position: fixed;
      }
    </style>
    <title>Forecast view</title>
  </head>

  <body
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #222; 
    "
  >
    <div class="weather-background"></div>
    <div style="margin-top: 5%"></div>
    <div
      class="card"
      style="width: 30rem; background-color: #333; color: white"
    >
      <br>
      <br>
      <h1 class="d-flex justify-content-center" style="margin-top: 10px">
        Weather Report
      </h1>
      <img
        src="https://openweathermap.org/img/wn/{{forecastinfo['weather'][0]['icon'] }}@2x.png"
        class="card-img-top mx-auto"
        alt="icon of current weather"
        style="width: 50%; height: 50%; display: center"
      />
      <div class="card-body">
        <h5 class="card-title text-center fs-1">
          {{ forecastinfo['name']}}
        </h5>
        <p class="card-text text-center fs-4">
          {{forecastinfo['weather'][0]['description']}}
        </p>

        <p class="card-text text-center fs-4">
          {{forecastinfo['main']['temp']}} degrees Fahrenheit
        </p>
        <p class="card-text text-center fs-4">
          Feels Like: {{forecastinfo['main']['feels_like']}}
        </p>
        <a
          href="{{url_for('forecast')}}"
          class="btn btn-primary d-flex justify-content-center"
          >Search Another city</a
        >
      </div>
    </div>
  </body>
</html>
