<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
</head>
<body>
<header>
    <h1>Disaster Weather Information</h1>
</header>
<hr>
<h3>Get information on everything weather-related like wind information, air quality, history of earthquakes, and general weather forecast.</h3>
<br>
<div class="centered">
    <form action="{{ url_for('handle_selection') }}" method="POST">
        <label for="weather-options">Select an option:</label>
        <select id="weather-options" name="selected_option">
            <option value="">Select...</option>
            <option value="wind">Wind</option>
            <option value="air_quality">Air Quality</option>
            <option value="earthquakes">Earthquakes</option>
            <option value="weather_forecast">General Weather Forecast</option>
        </select>
        <button type="submit" value="Submit" class ="button1">Submit</button>
    </form>
</div>
</body>
</html>