<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wind</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='wind_styles.css') }}">

</head>
<body>
<header>
    <h1>Enter a city to get wind information</h1>
    <hr>
</header>
    <br>
    <form id="windCity">
        <input type="button" value="Go back!" onclick="history.back()">
       </form>
    <hr>
    <div class="center-form">
        <form method="POST">
            <input type="text" name="city" placeholder="Enter city name" required>
            <br>
            <button id="restartBtn" type="submit" class="btn">Submit</button>
        </form>
    </div>
    <footer>
        <hr>
        <!-- <img id="logo" width="200" src="{{ url_for('static', filename='csumblogo.png') }}"> -->
        <img id="logo" width="200" src="{{ url_for('static', filename='csumblogo.png') }}">

        <p>CST205 Multimedia Design & Programming. 2023Ⓒ
          <br><strong>Disclaimer: </strong>
          The information in this webpage is fictitious.
          <br>
          It is used for academic purposes only.
        </p>
      </footer>
</body>
